<form name="form" novalidate>
    <div class='col-xs-12'>
        Name:
        <input type="text" ng-model="movie.name" name="name" ng-required="true" />
        <span ng-show="form.size.$error.required">The value is required!</span>
    </div>

    <div class='col-xs-12'>
        Gender:
        <input type="text" ng-model="movie.gender" name="gender" ng-required="true" />
        <span ng-show="form.size.$error.required">The value is required!</span>
    </div>

    <div class='col-xs-12'>
        Year:
        <input type="text" ng-model="movie.year" name="name" ng-required="true" />
        <span ng-show="form.size.$error.required">The year is required!</span>
    </div>

</form>