/* app css stylesheet */
.error-message {
  color: #a94442;
}

.links .with-right-margin {
  margin-right: 5px;
}

.links .add {
  margin-top: 20px;
  float: left;
}

.grid-search-header{
	margin-bottom: 20px;
	width: 200px;
}